#all{
  #tab1{

     border:1px solid black;
     width:100px;
     height:50px;
     display: inline-block;
   }
  #tab2{
    border:1px solid black;
    width:100px;
    height:50px;
    display: inline-block;
  }
  #tab3{
    border:1px solid black;
    width:100px;
    height:50px;
    display: inline-block;
  }
  #tabtable1{
     border:1px solid black;
     width:400px;
     height:200px;
     display: none;
   }
  #tabtable2{
    border:1px solid black;
    width:400px;
    height:200px;
    display: none;
  }
  #tabtable3{
    border:1px solid black;
    width:400px;
    height:200px;
    display: none;
  }
}

